<?xml version='1.0'?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android' package='no.hal.halban.sokobanapp' android:versionCode='1' android:versionName='1.0'>
    <supports-screens android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- accelerometer -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.compass" android:required="false" />

    <!-- position -->
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <application android:label='halban' android:icon="@mipmap/ic_launcher">
        <activity android:name='com.gluonhq.helloandroid.MainActivity'
                  android:exported="true"
                  android:configChanges="orientation|keyboardHidden">
             <intent-filter>
                <category android:name='android.intent.category.LAUNCHER'/>
                <action android:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
        <activity android:name='com.gluonhq.helloandroid.PermissionRequestActivity'
                  android:exported="true"/>
    </application>
</manifest>
